.formGroup {
    width: 50%;
    height: auto;
    border-radius: 0.625em;
    -webkit-box-shadow: 0 0 1em -0.5em rgba(0, 0, 0, 0.68);
    box-shadow: 0 0 1em -0.5em rgba(0, 0, 0, 0.68);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.250em;
    display: flex;
    justify-content: center;

}

