.sidebarUtilityMenu ul {
    list-style: none;
    display: block;
    padding: 0vh 2vh;
}

.sidebarUtilityMenu ul li {
    position: relative;
}

.sidebarUtilityTitle {
    display: block;
    padding: 0vh 2vh;
}

.sidebarUtilityMenu ul li a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 1vh;
}

.sidebarUtilityMenu ul li a svg {
    vertical-align: middle;
}

.sidebarUtilityMenu ul li a span {
    margin-left: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}