.profile {
    display: flex;
}

.profileRight {
    flex: 9;
}

.profileCover {
    height: 20.000em;
    position: relative;
    top: 3.750em;
}

.profileCoverImg {
    width: 100%;
    height: 14.375em;
    object-fit: cover;
}

.profileUserImg {
    width: 9.375em;
    height: 9.375em;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 8.750em;
    border: 0.188em solid rgb(10, 1, 1);

    margin-left: 5.625em;
}

.profileInfo {
    display: flex;
    flex-direction: column;

    margin-left: 6.875em;
    margin-top: 2.500em;
    margin-bottom: 0.938em;
}

.profileInfoName {
    font-size: 1.500em;
}

.profileInfoDesc {
    font-weight: 300;
}

.profilerightBottom {
    display: flex;
}

.groupButton {
    background-color: #446ebc;
    width: 6.250em;
    border: none;
    padding: 0.625em;
    border-radius: 0.031em;
    font-weight: 500;
    color: white;
    margin-left: 27.500em;
    margin-top: -2.500em;
    position: sticky;
}