.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 0.938em;
    padding: 0 2vh;
}

.sidebarFriendImg {
    width: 2.000em;
    height: 2.000em;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.625em;
}